#btn {
    margin-left: 20%;
    margin-right: 100px;
    margin-top: 2px;
    margin-bottom: 1%;
    width: 50%;
    height: auto;
    -unity-font-definition: url('project://database/Assets/Fonts/Archivo-Medium.ttf?fileID=12800000&guid=7ff71bcf7040d954581c3011db8a4935&type=3#Archivo-Medium');
}

.dishlist {
    padding-left: 0;
}
